div {
  border: 2px solid black;
  margin: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.fixed-height {
  height: 200px;
}

.percentage-height {
  height: 50%;
}

.viewport-height {
  height: 50vh;
}

.min-max-height {
  height: 80vh;
  min-height: 100px;
  max-height: 300px;
}
