/* Import other CSS files */
@import url("navigation.css");
@import url("sections.css");
@import url("selector-lists.css");

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}
